{% extends "layouts/base.html" %}

{% block title %}
  <title>Task Detail | Task Manager</title>
{% endblock %}

{% block content %}
  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <h2 class="card-title">{{ task.name }}</h2>
          <p class="text-gradient text-primary my-1">{{ task.task_type.name }}</p>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          {% if task in user.tasks.all %}
            <form action="{% url 'manager:toggle-task-assign' pk=task.id %}" method="post">
              {% csrf_token %}
              <input class="btn btn-danger link-to-page" type="submit" value="Delete me from this task">
            </form>
          {% else %}
            <form action="{% url 'manager:toggle-task-assign' pk=task.id %}" method="post">
              {% csrf_token %}
              <input class="btn btn-primary link-to-page" type="submit" value="Assign me to this task">
            </form>
          {% endif %}
          <div class="d-flex flex-column">
            <a href="{% url 'manager:task-update' pk=task.id %}" class="btn btn-secondary link-to-page">
              Update
            </a>
            <a href="{% url 'manager:task-delete' pk=task.id %}" class="btn btn-danger link-to-page">
              Delete
            </a>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="form-group">
          <label for="description"><strong>Description:</strong></label>
          <textarea class="form-control" id="description" disabled>{{ task.description }}</textarea>
        </div>
        <div>
          <p><strong>Deadline:</strong> {{ task.deadline }}</p>
          <p><strong>Completed:</strong>
            {{ task.is_completed|yesno:"Yes,No" }}
          </p>
          <p><strong>Priority:</strong> {{ task.priority }}</p>
          <p><strong>Assignees:</strong></p>
          <ul class="list-group">
            {% for worker in task.assignees.all %}
              <a href="{{ worker.get_absolute_url }}" class="list-group-item list-group-item-action">
                {{ worker.first_name }} {{ worker.last_name }} ({{ worker.username }}), {{ worker.position }}
              </a>
            {% empty %}
              <li class="list-group-item">
                There is no assignees
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
