{% extends "layouts/base.html" %}

{% block title %}
  <title>Workers | Task Manager</title>
{% endblock %}

{% block content %}
  <div>
    <h1>
      Worker List
    </h1>
    <a href="{% url 'manager:worker-create' %}" class="btn btn-primary link-to-page">
      Create new worker
    </a>

    {% include "includes/search-form.html" %}

    {% if worker_list %}
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Username</th>
              <th scope="col">First name</th>
              <th scope="col">Last name</th>
              <th scope="col">Position</th>
            </tr>
          </thead>

          <tbody>
            {% for worker in worker_list %}
              <tr>
                <th scope="row">
                  {{ worker.id }}
                </th>
                <td>
                  <a href="{{ worker.get_absolute_url }}">{{ worker.username }} {% if user == worker %} (Me){% endif %}</a>
                </td>
                <td>
                  {{ worker.first_name }}
                </td>
                <td>
                  {{ worker.last_name }}
                </td>
                <td>
                  {{ worker.position }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p>There are no workers in the task manager.</p>
    {% endif %}
  </div>
{% endblock %}
